---
layout: splash

feature_row_left:
  - image_path: /assets/images/IMG_0938.jpeg
    title: "🔎 7 Discount Tips for Logos Bible Software"
    excerpt: "Good news: There are several ways to save money on Logos."
    url: "https://www.nickstapleton.me/logos-discounts/"
    btn_label: "See Logos Discounts"
    btn_class: "btn--primary"
feature_row_left2:
  - image_path: /assets/images/l10-packages.png
    title: "💻 Logos Buyer’s Guide [2023 Update]"
    excerpt: "Logos is a large investment. Make sure you buy it the right way. My thoughts on the best package for pastors and seminarians."
    url: "https://www.nickstapleton.me/logos-buyers-guide/"
    btn_label: "Read My Logos Buyer's Guide"
    btn_class: "btn--primary"
feature_row_left3:
  - image_path: /assets/images/IMG_0920.jpeg
    title: "📚 6 Resource Categories to Prioritize for Logos"
    excerpt: "Which Logos resources are must-haves? Here are my recommended categories and resources that provide the greatest value."
    url: "https://www.nickstapleton.me/logos-resources/"
    btn_label: "See My Logos Resource Recommendations"
    btn_class: "btn--primary"
---
<h3>Featured Posts</h3>
<hr>
{% include feature_row id="feature_row_left2" type="left" %}

{% include feature_row id="feature_row_left3" type="left" %}

{% include feature_row id="feature_row_left" type="left" %}

<h3>Recent Posts</h3>
<hr>

{% if paginator %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
  {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
