---
layout: splash
feature_row:
  - image_path: /assets/images/logosheader.png
    title: "Why You Should Buy Logos 9"
    excerpt: "Sample text 1 with **markdown** formatting."
    url: "https://www.nickstapleton.me/Why-You-Should-Buy-Logos-9/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/base-packages-header2.png
    title: "Logos Buyer’s Guide"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "https://www.nickstapleton.me/logos-buyers-guide/"
    btn_label: "Read More"
    btn_class: "btn--secondary"
  - image_path: /assets/images/logos-resources.png
    title: "Must-Have Logos Bible Software Resources"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "https://www.nickstapleton.me/must-have-logos-bible-software-resources/"
    btn_label: "Read More"
    btn_class: "btn--success"

---

{% include feature_row %}

  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-{{ entries_layout }}">
    {% for post in posts %}
      {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>

  {% include paginator.html %}
</div>
